[flake8]

# Just assume black did a good job with the line lengths
ignore =
    E501

per-file-ignores =
    # These directories will always contain "from ... import *"
    trame/*:F401,F403
    examples/*:F401,F403

# Black sometimes conflicts with flake8 here
# Ignore white space after binary operator and assigning lambda expressions
extend-ignore = E203, W503, E731
